@mixin rotate-nods($count) {
   @for $i from 0 through $count{
    $rot: #{$i*(360/$count)}deg;

    .node-#{$i} {
      transform: translate(-50%, -50%) rotate($rot);
    }
  }
}
@mixin paint-nodes($count, $from-color, $to-color) {
  $from_map: (r: red($from-color), g: green($from-color), b: blue($from-color));
  $to_map: (r: red($to-color), g: green($to-color), b: blue($to-color));

  $r_diff: abs(map-get($from_map, r) - map-get($to-map, r));
  $g_diff: abs(map-get($from_map, g) - map-get($to-map, g));
  $b_diff: abs(map-get($from_map, b) - map-get($to-map, b));

  $r_increment: 0;
  $g_increment: 0;
  $b_increment: 0;
  @if $r_diff != 0 {
    $r_increment: abs($r_diff/$count);
  }
  @if $g_diff != 0 {
    $g_increment: abs($g_diff/$count);
  }
  @if $b_diff != 0 {
    $b_increment: abs($b_diff/$count);
  }
  @for $i from 0 through $count {
    $r: map-get($from_map, r) + $i*$r_increment;
    $g: map-get($from_map, g) + $i*$g_increment;
    $b: map-get($from_map, b) + $i*$b_increment;

    .node-#{$i}.highlight::before {
      border-color: rgb($r, $g, $b);
    }
  }

}

.indicator-two {
  height: 250px;
  width: 250px;
  position: relative;

  &::before {
    content: ' ';
    width: 100%;
    height: 100%;
    border: 2px solid rgba(255,255,255,.2);
    position: absolute;
    transform: translate(-50%, -50%) scale(0.8);
    top: 50%;
    left: 50%;
    border-radius: 50%;
  }

  .display-value {
    font-weight: bold;
    color: #fff;
    font-size: 55px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .node {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    top: 50%;
    left: 50%;

    &::before {
      content: ' ';
      height: 18px;
      display: block;
      border-radius: 20px;
      border: 1px solid rgba(255,255,255,0.2);
    }
  }
  @include rotate-nods(120);
  @include paint-nodes(120, #e3501a, #ecaa2b);
}
